[package]
name = "hazarc"
version = "0.1.0"
edition = "2024"

[dependencies]
crossbeam-utils = "0.8"

[dev-dependencies]
arc-swap = "1.8.0"
divan = "0.1.21"

[lib]
bench = false

[[bench]]
name = "comparison"
harness = false
